.spinner {
  position: relative;
  text-align: center;
  height: 100px;
}
.jira-icon {
  height: 16px;
  margin-right: 5px;
  transform: translateY(-1px);
}
.issue {
  &-key {
    width: 12%;
  }
  &-summary {
    width: 20%;
  }
  &-type {
    width: 10%;
  }
  &-status {
    width: 16%;
  }
  &-priority {
    width: 10%;
  }
  &-reporter {
    width: 16%;
  }
  &-assignee {
    width: 16%;
  }
}
.no-issues {
  text-align: center;
}
.slds-table {
  th { padding: 0.5rem 0.75rem; }
  td {
    padding: 0.1rem 0.75rem;

    &.user {
      padding-left: 0;

      & > a { background-color: transparent; }
    }
  }
}
